# Kakao 플랫폼 앱 키 (https://developers.kakao.com)
# 내 애플리케이션 > 앱 키 > JavaScript 키
VITE_KAKAO_JS_APP_KEY=

# 내 애플리케이션 > 앱 키 > REST API 키
VITE_KAKAO_REST_API_KEY=

# Odsay API 키 (https://lab.odsay.com)
# 대중교통 경로 검색에 사용
VITE_ODSAY_API_KEY=
